.App {
  text-align: center;
}

.logo-image {
  height: 100px;
  width: 100px;
  padding-top: 30px;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  margin: 20px;
}